body {
background: black;
}


#title {
    font-family: 'Fresca', sans-serif;
    font-style: bold;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 2px grey;
    background:rgba(200,60,200,.5);
}