body {
  font-size: 1.7rem;
  background: rgb(45, 3, 53);
  text-shadow: 0.02rem 0.02rem 0.02rem black;
}

#title {
  font-family: "Audiowide", sans-serif;
  font-weight: bold;
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 2px black, 1px 1px 1px black;
  background: rgba(200, 60, 200, 0.5);
  border: 0.01rem ridge black;
}

table {
  -webkit-box-shadow: 0.05rem 0.2rem 0.2rem 0.1rem green;
  box-shadow: 0.05rem 0.2rem 0.2rem 0.1rem green;
  font-family: "Inconsolata";
  font-size: medium;
}

tr {
  font-size: 3em;
}

th {
  background-color: rgba(150, 131, 131, 0.3);
  text-shadow: 0.01rem 0.01rem 0.2rem rgb(0, 0, 0);
}

#time {
  background-color: green;
  text-shadow: none;
  font-family: "Poiret+One";
}

.card-title {
  font-family: "Fresca";
  font-size: 36px;
  text-shadow: 2px 2px 2px black;
}
